<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3PLqKmzpWYW0EwdzRmSB/W8d64uyxRmdSshqnudMNhtddiNJw6D903GHnAZT0ygguNZ0zn+XtjyiOWxM0i/sb6EIlIut89TVp7xRXzkcNlAKXH6tbM0L5vt1DYwfwk77pfRoPZk72Irh+9c/+5Y8gXDa05vznAYl9MYb0KrXlWFliMYN/8LSJTPmqyiJls2i/mvCNxj</string>
	<key>email</key>
	<string>jonor@qq.com</string>
	<key>hash</key>
	<string>Bd5md+EWPVkvsNywnw0VFJJ2PHdJypMQaHxQjGDYMXNFvw0wOVXh6ca30SpR0jVAGfCb4OS8Ik0k/+bVoDt1Ems2v/CMGl64+aarMDxS8luoN6UtUnZeDpx8kR9vOQNnBMeUp0Fd9+BJB2wZ+Emnl36RPNFjeXGzs5Aotk0r30992un1DM3Z</string>
</dict>
</plist>
