<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A3PLSa4wmbmXtOotnkI5GgaQIZQghnSaSn8YqPQGXcGEOWOuI2TMn7cwPU2/3BKM/EOE1v0lR0vitd7fv3MSP4057ElzrN6C/0ex4S7ZnnOVxF7+zEWfC7m5tWsU5+BLNcoiE6+qS28eGq73u9jXirC9E1Dh/LI5P8oGpeP4PxGBaSNHXa8QGjvUoEz2wJNqTxZ8T/RK</string>
	<key>email</key>
	<string>jonorzhang@CORE.com</string>
	<key>hash</key>
	<string>F7jWtyBh2D1Or712Xvha49PfALV2j29p7Mn8ykh/tBWf2L6Vg4upBiHkKVyCbVlZc5d+I5F77oF54srldbzghN7wZ4MUNnsYedio9lcXbSSOkkLQHbd6ZDWqcF35+BhVbGxSxCzN6YaukqnOmWvO7g6ocuo+ncJfou07to2bZo1yEwfGTlmP</string>
</dict>
</plist>
