<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>150BED67-9F85-43E4-A13B-077704887E18</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baidu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd='{query}'</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>29B0FD48-001C-41D6-B08B-E59DEAEFB934</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack</string>
			<key>text</key>
			<string>Stackoverflow</string>
			<key>url</key>
			<string>http://www.stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3F26E0AA-208D-48FA-83FF-C7A5EF0E5544</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taobao</string>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>46DF01FD-2CA0-42FC-B4D4-5288DD3DCF45</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>xclient</string>
			<key>text</key>
			<string>软件</string>
			<key>url</key>
			<string>http://xclient.info/search/s/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>84FAC075-3EA9-4835-8D96-D95C1A14E572</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jianshu</string>
			<key>text</key>
			<string>简书</string>
			<key>url</key>
			<string>http://www.jianshu.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E8F3A4E8-2BB3-4459-A146-711EE295E7A0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zhihu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>知乎</string>
			<key>url</key>
			<string>http://www.zhihu.com/search?q='{query}'</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF407053-3203-468B-A6A6-E60A6E093424</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>git</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
